#content {
  padding-top: 65px;
}

#edit form {
  margin-bottom: 0;
}

tr.member-hidden {
  color: #aaa;
}

th.phone {
  width: 15%;
}

th.address {
  width: 35%;
}

fieldset.phone .btn-group i {
  text-align: center;
}
